In [5]:
import pandas as pd
import numpy as np

In [6]:
crime_data_to_load = "crimedata.csv"

In [7]:
crimedata = pd.read_csv(crime_data_to_load)
crimedata.head()

,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Location
0,520,BURGLARY - RESIDENTIAL,B2,1,2021-10-13 00:00:00,2021,10,Wednesday,0,SCHROEDER PLZ,"(42.33367921810846, -71.09187754618458)"
1,3114,INVESTIGATE PROPERTY,B2,0,2021-05-12 00:00:00,2021,5,Wednesday,0,SCHROEDER PLZ,"(42.33367921810846, -71.09187754618458)"
2,3114,INVESTIGATE PROPERTY,B2,0,2021-05-12 00:00:00,2021,5,Wednesday,0,SCHROEDER PLZ,"(42.33367921810846, -71.09187754618458)"
3,3114,INVESTIGATE PROPERTY,B2,0,2021-03-29 00:00:00,2021,3,Monday,0,SCHROEDER PLAZA,"(0, 0)"
4,3201,PROPERTY - LOST/ MISSING,E13,0,2021-03-22 00:00:00,2021,3,Monday,0,BLUE HILL AVE,"(42.28482576580488, -71.09137368938802)"

In [8]:
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time
from sqlalchemy import create_engine

In [9]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/crimedata"

In [10]:
engine = create_engine(db_string)
crimedata.to_sql(name='crimedata', con=engine, if_exists='replace')